* {
  background-color: lightblue;
}

#center {
  text-align: center;
  float: center;
}

.left {
  float: left;
  list-style-position: inside;
  width: 300px;
}

.right {
  float: right;
  list-style-position: inside;
  margin: 10px;
  width: 300px;
}

#fnP {
  text-align: center;
}

#seaAirport {
  text-align: center;
}

#seattleCenter {
  text-align: center;
}

#capHill {
  text-align: center;
}

#nameAlki {
  text-align: center;
}