* {
  background-color: lightblue;
}

#center {
  text-align: center;
}

.left {
  float: left;
  list-style-position: inside;
  margin: 10px;
  width: 300px;
}

.right {
  float: right;
  list-style-position: inside;
  margin: 10px;
  width: 300px;
}